@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin hover-opacity{
    transition: all 0.1s ease;
    cursor: pointer;
    &:hover{
        opacity: 0.6;
    }
    &:active{
        opacity: 0.4;
    }
}

@mixin hover-button{
    transition: all 0.1s ease;
    cursor: pointer;
    border: 1px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    &:hover{
       background-color: var( --light-red);
    }
}

@mixin baseButton{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    &:hover {
        background-color: var(--accent-color);
    }
}

