@import "./../../styles/mixin.scss";

.mainSection{
    padding-left: 200px;
    width: calc(100vw - 200px);
    padding-top: 20px;
    .inputSearch{
        @include inputBase;
        width: 340px;
    }
}