.catalog {
    .catalogContainer {
        min-height: calc(100vh - 269px);
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        // Фиксированный хедер
        .catalogHeader {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: var(--color-bg-light, #fff);
            padding: 20px 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--color-border, #ddd);
            box-sizing: border-box;
            margin-bottom: 20px;
            h1 {
                font-size: 28px;
                font-weight: 600;
                margin: 0;
            }


            .catalogSearch {
                position: relative;
                width: 100%;
                max-width: 400px;

                input {
                    height: 45px;
                    width: 100%;
                    border: 1px solid var(--color-border, #ccc);
                    border-radius: 8px;
                    padding: 0 45px 0 15px;
                    font-size: 16px;
                    background-color: var(--color-bg-light, #fff);
                    color: var(--color-text, #000);
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
                    transition: border 0.3s;
                    box-sizing: border-box;

                    &:focus {
                        border-color: var(--primary-color);
                    }
                    &:active{
                        border-color: var(--primary-color);
                    }
                }

                svg {
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: var(--color-icon, #666);
                    pointer-events: none;
                }
            }
        }
        .catalogFilms{
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            
        }
      
    }
    .genreButtons {
        margin: 20px 0;
        
        h3 {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
    
    .buttonsContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .genreButton {
        padding: 8px 15px;
        border: none;
        border-radius: 25px;
        background-color: var(--color-bg-secondary);
        color: var(--color-text);
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.2s ease;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
        &:hover {
            background: #e0e0e0;
        }
    
        &.active {
            background: var(--primary-color);
            color: white;
            border-color: var(--primary-color);
        }
    }
    .noResults {
        text-align: center;
        font-size: 18px;
        color:var(--primary-color);
        display: flex;
    }
}